<html>
  <head>
    <title>APOD Email Signup</title>
  </head>

  <body>
  <h1>Email Signup:<br>Astronomy Picture of the Day (APOD)</h1>

<p>Excellent! {{ email }} has been ADDED to the distribution list.
<p>
Thank you for submitting your email address! You have been added to the email distribution list for
the Astronomy Picture of the Day  (<a href=http://antwrp.gsfc.nasa.gov/apod/astropix.html>NASA</a>). The astronomy email will usually be
sent around 1pm CST. If you have any problems, please send me an <a mailto=gtracy@gmail.com>email</a>.
<p><p>If you were added to the list in error, or would like to be removed from the list, please
go <a href=http://apodemail.org/>here</a>.
<hr>
<p><a href=http://apodemail.org/>back</a>

  <h2>Support me!</h2>
  We've reached a critical mass now so this service is costing me money to run.
  Please consider a donation to help cover our hosting and email costs.<br><br>
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=BY2QTPPKT7XE8"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif"></a>

  </body>
</html>
