<html>
  <head>
    <title>APOD Email Signup</title>
  </head>

  <body>
  <h1>Email Signup:<br>Astronomy Picture of the Day (APOD)</h1>

<p>Hello!</p>
<p>The APOD email service was knocked down recently and I'm sorry about that.</p>
<br/><p>I had been using my alumni account at the University of Wisconsin, Madison to send emails. A few weeks ago, I ran into an email quota of theirs so I was unable to send daily emails to all of you. Who knew this list would grow so much?!</p>
<br/><p>I've put some work into the infrastructure and moved more of it into a hosted environment on Google so I have a pretty robust solution going forward to send out hundreds of thousands of emails per month. Starting today, APOD will be back in your inbox!</p>
<br/><p>This new solution is more expensive for me to host than it was previously, however. If you are able to, I would definitely appreciate a small donation to help me cover these costs. A few of you have made donations already - thank you! Every little bit helps.</p>
<br/><p>An online donation form can be found <a href="https://goo.gl/8jyIjl">here on Paypal</a>.</p>
<br/><p>Cheers.</p>
<br/><p>Greg Tracy</p>
<a href="https://twitter.com/gregtracy">@gregtracy</a>

   <h2>Support me!</h2>
   We've reached a critical mass now so this service is costing me money to run.
   Please consider a donation to help cover our hosting and email costs.<br><br>
   <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
   <input type="hidden" name="cmd" value="_s-xclick">
   <input type="hidden" name="hosted_button_id" value="99TCXWRTE6PHW">
   <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
   <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
   </form>

   <hr><p><i><strong>This is an automated email. If you notice any problems, just send me a note at <a href=mailto:gtracy@gmail.com>gtracy@gmail.com</a>. You can add and remove email addresses to this distribution list here, <a href=https://apodemail.org>https://apodemail.org</a>.</strong></i><a href='mailto:unsubscribe@apodemail-hrd.appspotmail.com?Subject=unsubscribe'>Unsubscribe</a></p>
  </body>
</html>
