<html>
  <head>
    <title>APOD Email Signup</title>
  </head>

  <body>
    <h1>Email Signup:<br>Astronomy Picture of the Day (APOD)</h1>

    <p>Zoinks!</p>
    <br/><p>A bit of a false start this week, eh? Some of you received an empty email and others received nothing. There are a couple of kinks still to be worked out, and I'm looking at those now.</p>
    <br/><p>This should be back on autopilot again as it was before. Thanks for your patience as I make the transition over to the new infrastructure.</p>
    <br/><p>Cheers.</p>
    <br/><p>Greg Tracy</p>

    <hr><p><i><strong>This is an automated email. You can add and remove email addresses to this distribution list here, <a href=https://apodemail.org>https://apodemail.org</a>. <a href='mailto:unsubscribe@apodemail-hrd.appspotmail.com?Subject=unsubscribe'> Unsubscribe</a></strong></i></p>
    
  </body>
</html>
