<!DOCTYPE html>

<html lang="en">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="A service that delivers a daily email containing the astronomy picture of the day.">
    <meta name="keywords" content="APOD, astronomy, astronomy picture of the day, NASA, NASA pictures, pictures of space, pictures of the universe, email distribution, email signup, signup, space, daily email">
    <meta name="google-site-verification" content="zwcKFrENLWd4sGLD_7psmaPACHF0oM_hlxUHrAlIgjQ" />

    <link rel="shortcut icon" href="img/favicon.ico">
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  	<!-- Optional theme -->
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

  	<!-- Latest compiled and minified JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <!-- Wrapping the Recaptcha create method in a javascript function -->
    <script type="text/javascript">
         function showRecaptcha(element) {
           $('#feedback-container').hide();
           Recaptcha.create("{{captcha_secret}}", element, {
             theme: "red",
             callback: Recaptcha.focus_response_field});
         }
         function hideRecaptcha(element) {
         	$('#recaptcha_div').slideDown("slow");
            Recaptcha.destroy();
            $('#feedback-container').replaceWith('<div id="feedback-container" class="form-group"><label for="commentNote">Feedback</label></br><input id="commentNote" type=text size=80 name="comments" placeholder="Optional feedback"></div>');
         }
    </script>
    <script type="text/javascript">
      var RecaptchaOptions = {
        theme : 'clean'
       };
    </script>

    <script type="text/javascript">
      $(document).ready(function() {
        $("#request-form").submit(function() {
              $("#form-container").slideUp("fast");
              var args = "string="+$('#email').val()
                  + "&signup="+$('#addremove:checked').val()
                  + "&reference="+$('#refNote').val()
                  + "&comments="+$('#commentNote').val()
                  + "&recaptcha_challenge_field="+$('#recaptcha_challenge_field').val()
                  + "&recaptcha_response_field="+$('#recaptcha_response_field').val()
              $.ajax({
                type: "POST",
                url: "/signup",
                data: args,
                success: function(response) {
                  if( response.indexOf("Oops") >= 0 ) {
                    $("#form-container").slideDown("fast");
                    $("#form-answer").replaceWith('<div id="form-answer"><p style="color: red;font-weight: bold">'+response+'</p></div>');
                  } else {
                    $("#form-answer").replaceWith('<div id="form-answer">'+response+'</div>');
                  }
                } // success function
              }); // .ajax
        }); // submit form
      });
    </script>

  </head>
  <body>

    <div class="container">
      <div class="header">
       	<ul class="nav nav-pills pull-right">
       	  <li><a href="http://apod.nasa.gov">APOD</a></li>
       	  <li><a href="http://gregtracy.com">Greg</a></li>
       	  <li><a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=hsZdnN1yr0txyU5A7jdLiMVnyjaN7E-PZoZf9nN3A330AQHqI4AQw4iTJHe&dispatch=5885d80a13c0db1f8e263663d3faee8dae318ac9ffd6aa6b72a490566890f82e">Donate</a></li>
       	</ul>
       </div>
     </div>

  	<div class="container" role="main">
  		<div class="page-header">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="img/earth.jpg" alt="Earth">
            </a>
          </div>
            <h1>Email Signup: </br>Astronomy Picture of the Day (APOD)</h1>
      <p class="lead">Get <a href=http://apod.nasa.gov/apod/>APOD</a> in your email inbox each day!</p>
        </div>
  		</div>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-bullhorn"></span>
      The APOD emails are turned off temporarily. They will be turned back on within the next few days!
    </div>
		<p>The APOD pictures are brought to you by
		<a href=http://antwrp.gsfc.nasa.gov/htmltest/rjn.html>Robert Nemiroff</a> and
		<a href=http://antwrp.gsfc.nasa.gov/htmltest/jbonnell/www/bonnell.html>Jerry Bonnell</a>.
		Please comply with all copyright notices.</p>

		<div id="form-answer">
		</div>


<div id="form-container">
	<div class="panel panel-primary">
		<div class="panel-heading">Signup (or remove)</div>
		<div class="panel-body">

		    <form id="request-form" method="post" onsubmit="return false">
		    	<div class="form-group">
		    		<label for="email">Email</label>
		    	    </br>
		    		<input id="email" type=text size=30 name="string" placeholder="Your email">
		    	</div>
		    	<div id="feedback-container"></div>
			    <div class="radio">
			        <label><input id="addremove" type="radio" name="signup" value=signup checked onclick="showRecaptcha('recaptcha_div');">Signup</label>
			    </div>
			    <div class="radio">
	    		    <label><input id="addremove" type="radio" name="signup" value=remove onclick="hideRecaptcha('recaptcha_div');">Remove</label>
			    </div>

		      <div id="recaptcha_div">
		        <script type="text/javascript"
		           src="http://www.google.com/recaptcha/api/challenge?k={{captcha_secret}}">
		        </script>
		        <noscript>
		           <iframe src="http://www.google.com/recaptcha/api/noscript?k={{captcha_secret}}"
		               height="300" width="500" frameborder="0"></iframe><br>
		           <textarea name="recaptcha_challenge_field" rows="3" cols="40">
		           </textarea>
		           <input type="hidden" name="recaptcha_response_field"
		               value="manual_challenge">
		        </noscript>
		      </div>

		        <button type="submit" class="btn btn-primary">Submit</button>

		    </form>

		</div>
	</div>
</div>



	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-2237321-7");
pageTracker._trackPageview();
} catch(err) {}</script>

  </body>
 </html>
